

<!--<div id="projectfile" class="projectfile">
	<div class="js-preview userpic__preview"></div>
	<div class="btn btn-success js-fileapi-wrapper">
		<div class="js-browse">
			<span class="btn-txt">Choose</span>
			<input type="file" name="filedata">
		</div>
		<div class="js-upload" style="display: none;">
			<div class="progress progress-success"><div class="js-progress bar"></div></div>
			<span class="btn-txt">Uploading</span>
		</div>
	</div>
</div>

<div id="popup" class="popup" style="display: none;">
	<div class="popup__body"><div class="js-img"></div></div>
	<div style="margin: 0 0 5px; text-align: center;">
		<div class="js-upload btn btn_browse btn_browse_small">Upload</div>
	</div>
</div>

<link href="http://rubaxa.github.io/jquery.fileapi/jcrop/jquery.Jcrop.min.css" rel="stylesheet" type="text/css"/>

<script>
	var examples = [];
</script>-->
<div class="container">
	<div class="row-fluid">
		<div class="header">
			<h1>Add a Spot Instance Render Job</h1>
			<p class="lead">Helps you start a render job on <a href="http://aws.amazon.com/" target="_blank">Amazon Web Services</a>.</p>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="panel-title"><i class="fa fa-files-o"></i> Clone an existing job</h1>
			</div>
			<form id="clone-job">
				<div class="panel-body">
					<div class="form-group">
						<label for="selectionCloneJob">Select job:</label>
						<select class="form-control" id="selectionCloneJob">
							<option>Fake Job 1</option>
							<option>Fake Job 2</option>
							<option>Fake Job 3</option>
							<option>Fake Job 4</option>
						</select>
					</div>
				</div>
				<div class="panel-footer clearfix">
					<div class="pull-right">
						<button type="submit" class="btn btn-success" title="Copyies the settings from the selected job and starts a new one from it.">Clone Job</button>
					</div>
				</div>
			</form>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="panel-title"><i class="fa fa-cloud-upload"></i> Add a New Job</h1>
			</div>
			<form id="new-job">
				<div class="panel-body">
					<div class="form-group">
						<label for="inputAMI">Amazon AMI ID <a href="http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/AMIs.html" target="_blank"><i class="fa fa-info-circle"></i></a></label>
						<input type="text" class="form-control" id="inputAMI" placeholder="<%= sails.config.brenda.settings.ami_id %>">
					</div>
					<div class="form-group">
						<label for="inputInstanceType">Amazon Instance Type <a href="http://aws.amazon.com/ec2/purchasing-options/spot-instances/" target="_blank"><i class="fa fa-info-circle"></i></a></label>
						<input type="text" class="form-control" id="inputInstanceType" placeholder="<%= sails.config.brenda.settings.default_instance_type %>">
					</div>
					<div class="form-group">
						<label for="inputSQSRegion">Amazon SQS Region <a href="http://aws.amazon.com/about-aws/global-infrastructure/" target="_blank"><i class="fa fa-info-circle"></i></a></label>
						<input type="text" class="form-control" id="inputSQSRegion" placeholder="<%= sails.config.brenda.settings.sqs_region %>">
					</div>
					<div class="form-group">
						<label for="inputEC2Region">Amazon EC2 Region <a href="http://aws.amazon.com/about-aws/global-infrastructure/" target="_blank"><i class="fa fa-info-circle"></i></a></label>
						<input type="text" class="form-control" id="inputEC2Region" placeholder="<%= sails.config.brenda.settings.ec2_region %>">
					</div>
					<div class="form-group">
						<label for="inputProjectFile">Upload Blender Project</label><br>
						<span id="inputProjectFile" class="btn btn-default btn-file">
							Browse <input type="file">
						</span>
					</div>
					<br>
					<!-- <div class="form-group">
						<label for="inputRenderOutput">Render Output Location</label>
						<input type="text" class="form-control" id="inputRenderOutput" placeholder="s3://mybucket.blender.frame.bucket">
					</div> -->
				</div>
				<div class="panel-footer clearfix">
					<div class="pull-right">
						<button type="submit" class="btn btn-primary" title="Saves your job to the Amazon SQS queue. You can come back and start it later.">Save</button>
						<button type="submit" class="btn btn-success" title="Submits the job to the SQS queue and runs the job.">Start</button>
					</div>
				</div>
			</form>
		</div>

		<!-- Existing job on S3 -->
		<!-- TODO: Retrieve a list of jobs in the project bucket. -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="panel-title"><i class="fa fa-file-archive-o"></i> Use a file already uploaded on S3</h1>
			</div>
			<form id="existing-job">
				<div class="panel-body">
					<!-- Select Multiple -->
					<div class="control-group">
						<label class="control-label" for="selectmultiple">Select Multiple</label>
						<div class="controls">
							<select id="selectmultiple" name="selectmultiple" class="form-control " multiple="">
								<option>Option one</option>
								<option>Option two</option>
							</select>
						</div>
					</div>
				</div>
				<div class="panel-footer clearfix">
					<div class="pull-right">
						<button type="submit" class="btn btn-primary" title="Saves your job to the Amazon SQS queue. You can come back and start it later.">Select File</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<!--<link href="http://rubaxa.github.io/jquery.fileapi/statics/main.css" rel="stylesheet" type="text/css"/>
<link href="http://rubaxa.github.io/jquery.fileapi/jcrop/jquery.Jcrop.min.css" rel="stylesheet" type="text/css"/>-->

<!--<script src="//code.jquery.com/jquery-1.8.2.min.js"></script>-->
<script src="http://rubaxa.github.io/jquery.fileapi/FileAPI/FileAPI.min.js"></script>
<script src="http://rubaxa.github.io/jquery.fileapi/FileAPI/FileAPI.exif.js"></script>
<script src="http://rubaxa.github.io/jquery.fileapi/jquery.fileapi.js"></script>
<script src="http://rubaxa.github.io/jquery.fileapi/jcrop/jquery.Jcrop.min.js"></script>
<script src="http://rubaxa.github.io/jquery.fileapi/statics/jquery.modal.js"></script>

<script type="text/javascript">
$(document).ready(function() {
	console.log('ready')

	$('#userpic').fileapi({
		url: '/file/s3upload',
		accept: 'image/*',
		imageSize: { minWidth: 200, minHeight: 200 },
		elements: {
			active: { show: '.js-upload', hide: '.js-browse' },
			preview: {
				el: '.js-preview',
				width: 200,
				height: 200
			},
			progress: '.js-progress'
		},
		onSelect: function (evt, ui){
			var file = ui.files[0];
			if( !FileAPI.support.transform ) {
				alert('Your browser does not support Flash :(');
			} else if( file ){
				$('#popup').modal({
					closeOnEsc: true,
					closeOnOverlayClick: false,
					onOpen: function (overlay){
							$(overlay).on('click', '.js-upload', function (){
							$.modal().close();
							$('#userpic').fileapi('upload');
						});
						$('.js-img', overlay).cropper({
							file: file,
							bgColor: '#fff',
							maxSize: [$(window).width()-100, $(window).height()-100],
							minSize: [200, 200],
							selection: '90%',
							onSelect: function (coords){
								$('#userpic').fileapi('crop', file, coords);
								console.log($('#userpic').fileapi('crop', file, coords))
							}
						});
					}
				}).open();
			}
		}
	});
});
</script>