<div class="row">
	<div class="col-sm-3 col-md-2 sidebar">
		<ul class="nav nav-sidebar">
			<li class="active"><a href="#">All <span class="sr-only">(current)</span></a></li>
			<li><a href="#">Added</a></li>
			<li><a href="#">Processing</a></li>
			<li><a href="#">Completed</a></li>
			<li><a href="#">Paused</a></li>
			<li><a href="">Canceled</a></li>
			<li><a href="">Launched</a></li>
			<li><a href="">Failed</a></li>
		</ul>
	</div>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<h1 class="page-header">Your Render Jobs</h1>

		<div class="row placeholders">
			<div class="col-xs-6 col-sm-3 placeholder">
				<img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
				<h4>Label</h4>
				<span class="text-muted">Something else</span>
			</div>
			<div class="col-xs-6 col-sm-3 placeholder">
				<img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
				<h4>Label</h4>
				<span class="text-muted">Something else</span>
			</div>
			<div class="col-xs-6 col-sm-3 placeholder">
				<img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
				<h4>Label</h4>
				<span class="text-muted">Something else</span>
			</div>
			<div class="col-xs-6 col-sm-3 placeholder">
				<img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
				<h4>Label</h4>
				<span class="text-muted">Something else</span>
			</div>
		</div>

		<h2 class="sub-header">All Jobs</h2>
		<br>
		<ul class="media-list">
			<li class="media divider">
				<div class="media-left pull-left">
					<a href="#">
						<img src="holder.js/242x130/auto/sky" alt="thumb-242x130" width="242" height="130" />
					</a>
				</div>
				<div class="media-body">
					<h3 class="media-heading"><a href="#">Render_Job_5_21_15</a> <small>$2.11</small> <small class="pull-right label label-success">Completed</small></h3>
					<div class="row-fluid">
						<div class="col-md-4 nopadding nomargin">
							<ul class="nobull">
								<li>Started: May 18, 2015 00:47 </li>
								<li>Elapsed: 00:25:59</li>
								<li>Cycles 2.74</li>
							</ul>
						</div>
						<div class="col-md-4">
							<ul class="nobull">
								<li>Instances: 4</li>
								<li>Instances Type: c3.2xlarge</li>
								<li>EC2 Region: us-west-2</li>
								<li>SQS Region: us-west-2</li>
							</ul>
						</div>
					</div>
				</div>
			</li>
			<li class="media divider">
				<div class="media-left pull-left">
					<a href="#">
						<img src="holder.js/242x130/auto/sky" alt="thumb-242x130" width="242" height="130" />
					</a>
				</div>
				<div class="media-body">
					<h3 class="media-heading"><a href="#">Render_Job_5_06_15</a> <small>$1.11</small> <small class="pull-right label label-info">Processing</small></h3>
					<div class="row-fluid">
						<div class="col-md-4 nopadding nomargin">
							<ul class="nobull">
								<li>Started: May 18, 2015 00:47 </li>
								<li>Elapsed: 00:25:59</li>
								<li>Cycles 2.74</li>
							</ul>
						</div>
						<div class="col-md-4">
							<ul class="nobull">
								<li>Instances: 4</li>
								<li>Instances Type: c3.2xlarge</li>
								<li>EC2 Region: us-west-2</li>
								<li>SQS Region: us-west-2</li>
							</ul>
						</div>
					</div>
				</div>
			</li>
			<li class="media divider">
				<div class="media-left pull-left">
					<a href="#">
						<img src="holder.js/242x130/auto/sky" alt="thumb-242x130" width="242" height="130" />
					</a>
				</div>
				<div class="media-body">
					<h3 class="media-heading"><a href="#">Render_Job_5_09_15</a> <small>$5.11</small> <small class="pull-right label label-default">Canceled</small></h3>
					<div class="row-fluid">
						<div class="col-md-4 nopadding nomargin">
							<ul class="nobull">
								<li>Started: May 18, 2015 00:47 </li>
								<li>Elapsed: 00:25:59</li>
								<li>Cycles 2.74</li>
							</ul>
						</div>
						<div class="col-md-4">
							<ul class="nobull">
								<li>Instances: 4</li>
								<li>Instances Type: c3.2xlarge</li>
								<li>EC2 Region: us-west-2</li>
								<li>SQS Region: us-west-2</li>
							</ul>
						</div>
					</div>
				</div>
			</li>
			<li class="media divider">
				<div class="media-left pull-left">
					<a href="#">
						<img src="holder.js/242x130/auto/sky" alt="thumb-242x130" width="242" height="130" />
					</a>
				</div>
				<div class="media-body">
					<h3 class="media-heading"><a href="#">Render_Job_5_11_15</a> <small></small> <small class="pull-right label label-danger">Failed</small></h3>
					<div class="row-fluid">
						<div class="col-md-4 nopadding nomargin">
							<ul class="nobull">
								<li>Started: May 18, 2015 00:47 </li>
								<li>Elapsed: 00:25:59</li>
								<li>Cycles 2.74</li>
							</ul>
						</div>
						<div class="col-md-4">
							<ul class="nobull">
								<li>Instances: 4</li>
								<li>Instances Type: c3.2xlarge</li>
								<li>EC2 Region: us-west-2</li>
								<li>SQS Region: us-west-2</li>
							</ul>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>