<!-- The latest spot instance prices can also be found at http://aws.amazon.com/ec2/purchasing-options/spot-instances/ -->
<div class="row">
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<h1 class="page-header">Amazon Web Services EC2 Spot Prices</h1>

		<div class="row placeholders">
			<div class="col-xs-6 col-sm-3 placeholder">
				<img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
				<h4>Label</h4>
				<span class="text-muted">Something else</span>
			</div>
			<div class="col-xs-6 col-sm-3 placeholder">
				<img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
				<h4>Label</h4>
				<span class="text-muted">Something else</span>
			</div>
			<div class="col-xs-6 col-sm-3 placeholder">
				<img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
				<h4>Label</h4>
				<span class="text-muted">Something else</span>
			</div>
			<div class="col-xs-6 col-sm-3 placeholder">
				<img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
				<h4>Label</h4>
				<span class="text-muted">Something else</span>
			</div>
		</div>
		<div class="">
		</div>
		<h2 class="sub-header">Spot Instances</h2>
		<p class="lead">More prices and spot price information can be found at <a href="http://aws.amazon.com/ec2/purchasing-options/spot-instances/">Amazon EC2 Spot Instances</a>.</p>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Price ($)</th>
						<th>Instance Name</th>
						<th>Region</th>
						<th>Last Updated</th>
					</tr>
				</thead>
				<tbody>
					<%
						//var tJSONKey = Object.keys(results.prices)[0];
						//console.log(tJSONKey);
						Object.keys(results.prices).forEach(function(k){
							//console.log(results.prices[k]);
							results.prices[k].forEach(function(data){
					%>
							<tr>
								<td><%= data.price %></td>
								<td><%= data.name %></td>
								<td><%= data.region %></td>
								<td><%= data.timestamp %></td>
							</tr>
					<%
							});
						});
					%>
				</tbody>
			</table>
		</div>
	</div>
</div>